/* 
    Document   : image
    Created on : 2012-okt-24, 11:48:50
    Author     : Daniel Eliasson - joomla at stilero.com
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background-color: #F4F4F4;
}

.detailitem, .detailitem .comment{
    padding: 0.5em 0;
    border-bottom: 1px solid #eee;
    clear:left;
}
.imagedetails .likes .label, .imagedetails .tags .label{
    float:left;
    margin:3px;
}
/*testar */
.like a{
    color:white;
}
